<div class="chat-messages-container">
  <div *ngIf="messages.length > 0; else noMessages">
    <div *ngFor="let message of messages" class="chat-message" [ngClass]="{'message-sent': message.userId === currentUserId, 'message-received': message.userId !== currentUserId}">
      <div class="message-header">
        <span class="sender-name">{{ message.senderFullName}}</span>
        <span class="message-time">{{ message.date | date:'short' }}</span>
      </div>
      <div class="message-body">
        <span>{{ message.message }}</span>
      </div>
    </div>
  </div>

  <ng-template #noMessages>
    <div *ngIf="errorMessage">{{ errorMessage }}</div>
    <div *ngIf="!errorMessage">No messages to display.</div>
  </ng-template>
</div>
