<div class="form-container">
  <h2>Sign Up</h2>
  <form (submit)="onRegister()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required placeholder="Enter your username">
    </div>
    <div>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName" required placeholder="Enter your first name">
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName" required placeholder="Enter your last name">
    </div>
    <div>
      <label for="birthday">Birthday:</label>
      <input type="date" id="birthday" [(ngModel)]="birthday" name="birthday" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="Enter your email">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required placeholder="Enter your password">
    </div>
    <div>
      <label for="retypePassword">Retype Password:</label>
      <input type="password" id="retypePassword" [(ngModel)]="retypePassword" name="retypePassword" required placeholder="Retype your password">
    </div>

    <div *ngIf="avatarPreview" class="avatar-preview">
      <img [src]="avatarPreview" alt="Avatar Preview">
    </div>

    <div class="avatar-upload-container">
      <label for="avatar" class="avatar-upload-label"><i class="fas fa-upload"></i> Choose Avatar</label>
      <input type="file" id="avatar" class="avatar-upload-input" (change)="onFileSelected($event)">
    </div>

    <button type="submit" class="submit-btn">Register</button>
    <button type="button" class="cancel-btn" (click)="onCancel()">Cancel</button>
  </form>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
