/* Tổng thể */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #e9ecef;
  display: flex;
  overflow: hidden;
}

.chat-content {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Đảm bảo chiều cao 100% của màn hình */
  background-color: #ffffff;
  overflow: hidden;
}

/* Chat Header */
.chat-header {
  flex-shrink: 0;
  padding: 15px;
  background-color: #f1f3f5;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  align-items: center;
}

.chat-info {
  display: flex;
  align-items: center;
}

.chat-info img.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.chat-details {
  display: flex;
  flex-direction: column;
}

.chat-name {
  font-weight: bold;
  font-size: 18px;
  color: #495057;
}

.chat-tag {
  font-size: 13px;
  color: #868e96;
}

/* Chat Window */
.chat-window {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Đảm bảo nội dung được đẩy xuống cuối */
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-radius: 10px;
}

/* Khung hiển thị tin nhắn */
.chat-messages {
  flex-grow: 1;
  padding: 20px;
  background-color: white;
  overflow-y: auto;
  margin-bottom: 0;
  scrollbar-width: thin;
  scrollbar-color: #888 #e1e1e1;
  scroll-behavior: smooth;
}

.chat-messages::-webkit-scrollbar {
  width: 8px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Tin nhắn */
.message-wrapper {
  margin-bottom: 15px;
}

.sender-name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 3px;
  color: #343a40;
}

/* Nội dung tin nhắn */
.message-content {
  background-color: #e9ecef;
  padding: 10px 15px;
  border-radius: 20px;
  display: inline-block;
  max-width: 75%;
  line-height: 1.5;
  word-wrap: break-word; /* Đảm bảo từ dài không phá vỡ bố cục */
  word-break: break-word; /* Đảm bảo từ dài không phá vỡ bố cục */
  text-align: left;
}

/* Tin nhắn của người gửi (màu nền xanh, chữ trắng) */
.sent .message-content {
  background-color: #007bff;
  color: white; /* Màu chữ trắng */
}

/* Tin nhắn của người nhận (màu nền xám, chữ xám) */
.received .message-content {
  background-color: #f1f3f5;
  color: gray;
}


/* Thay đổi màu chữ cho liên kết trong tin nhắn */
.sent .message-content a {
  color: white;
  word-break: break-all;
  overflow-wrap: break-word;
  text-decoration: none;
}

.received .message-content a {
  color: #007bff;
  word-break: break-all;
  overflow-wrap: break-word;
  text-decoration: none;
}

.sent .message-container {
  display: flex;
  flex-direction: row-reverse; /* Đảo ngược vị trí của nội dung và hành động */
}

.received .message-container {
  display: flex;
  flex-direction: row; /* Giữ vị trí bình thường */
}



/* Vị trí căn chỉnh của tin nhắn */
.sent {
  text-align: right;
}

.received {
  text-align: left;
}

/* Thời gian tin nhắn */
.message-time {
  text-align: center;
  margin: 10px 0;
  font-size: 0.85em;
  color: #888;
}

/* Tệp đính kèm */
.attachment {
  margin-top: 10px;
}

.attachment img, .attachment video {
  max-width: 100%;
  max-height: 250px;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.attachment a {
  color: #007bff;
  text-decoration: none;
  word-break: break-all;
}

.attachment a:hover {
  text-decoration: underline;
}

/* Khung hiển thị tệp đính kèm đã chọn */
.attachment-preview {
  position: absolute;
  bottom: 60px;
  right: 330px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 710px;
  padding: 10px;
}

.attachment-preview p {
  margin: 0;
  font-size: 12px; /* Giảm kích thước font chữ */
  color: #555;
}

/* Nút "Remove" trong phần xem trước tệp đính kèm */
.remove-attachment-button {
  background-color: transparent;
  border: none;
  color: #f00;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px; /* Giảm kích thước font của nút remove */
}

.remove-attachment-button i {
  font-size: 16px;
}

.remove-attachment-button:hover {
  text-decoration: underline;
  color: #d00;
}

/* Tệp đính kèm preview (ảnh và video) */
.attachment-preview-image,
.attachment-preview-video {
  max-width: 120px; /* Giảm kích thước tối đa của hình ảnh và video */
  max-height: 80px; /* Giảm chiều cao tối đa */
  border-radius: 5px;
  cursor: pointer;
  object-fit: cover;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-right: 10px; /* Khoảng cách giữa preview và nút remove */
}

/* Khung preview tài liệu (PDF, DOCX, các tệp khác) */
.attachment-file-preview {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 8px; /* Thu nhỏ padding */
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.attachment-file-preview i {
  font-size: 20px; /* Giảm kích thước icon */
  margin-right: 10px;
  color: #007bff;
}

.attachment-file-preview span {
  color: #007bff;
  font-weight: bold;
  word-break: break-all;
  font-size: 12px; /* Giảm kích thước font chữ */
}

.attachment-file-preview:hover span {
  text-decoration: underline;
  cursor: pointer;
}

/* Vùng nhập tin nhắn */
.message-input {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #f1f3f5;
  border-top: 1px solid #dee2e6;
  border-radius: 0 0 10px 10px;
  margin: 0;
}

.message-input input[type="text"] {
  flex-grow: 1;
  padding: 12px 15px;
  border-radius: 30px;
  border: 1px solid #ced4da;
  margin-right: 15px;
  outline: none;
  font-size: 14px;
}

.message-input input[type="text"]:focus {
  border-color: #007bff;
}

.message-input button {
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-size: 14px;
}

.message-input button:hover {
  background-color: #0056b3;
  box-shadow: 0 2px 5px rgba(0, 91, 187, 0.2);
}

.message-input button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

/* Nút icon */
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  color: #007bff;
  display: flex;
  align-items: center;
}

.icon-button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.icon-button i {
  font-size: 20px;
}

/* Emoji Picker */
.emoji-picker {
  margin-right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #007bff;
  display: flex;
  align-items: center;
}

.emoji-picker:hover {
  color: #0056b3;
}

.emoji-picker-modal {
  position: absolute;
  bottom: 60px;
  left: 0;
  z-index: 1000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
}

/* Tin nhắn khi chưa chọn người nhận */
.select-chat-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2em;
  color: #888;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Tin nhắn đã bị xóa */
.deleted-message {
  color: gray;
  font-style: italic;
}

.actions-container {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: space-between; /* Căn đều các nút với khoảng cách bằng nhau */
  opacity: 0.1; /* Mặc định các nút mờ mờ */
  transition: opacity 0.3s ease; /* Chuyển đổi độ mờ mượt mà */
}

.actions-container:hover {
  opacity: 1; /* Khi hover, các nút hiện rõ */
}

.actions-container .delete-button,
.actions-container .reply-button,
.actions-container .add-reaction {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
  padding: 5px; /* Tạo khoảng trống xung quanh icon */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease; /* Chuyển đổi màu mượt mà khi hover */
}

.actions-container .delete-button:hover,
.actions-container .reply-button:hover,
.actions-container .add-reaction:hover {
  color: #0056b3; /* Màu khi hover */
}

.actions-container .delete-button i,
.actions-container .reply-button i,
.actions-container .add-reaction i {
  font-size: 18px; /* Kích thước của icon */
}

/* Căn chỉnh các nút cho tin nhắn gửi và nhận */
.sent-actions {
  justify-content: flex-end;
  margin-right: 10px;
}

.received-actions {
  justify-content: flex-start;
  margin-left: 10px;
}

.replied-message {
  background-color: #f1f3f5;
  padding: 5px;
  border-left: 3px solid #007bff;
  margin-bottom: 10px;
  border-radius: 5px;
}

.replied-message-content {
  font-size: 13px;
  color: #495057;
}

.reply-preview {
  position: absolute;
  bottom: 60px;
  right: 330px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 100%; */
  width: 710px;
  padding: 10px;
}

.reply-preview-header {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555; /* Consistent color with attachment preview */
}

.reply-preview-content {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #555; /* Text color similar to the attachment preview */
  word-break: break-word; /* Ensure long words break appropriately */
}

.cancel-reply {
  background: none;
  border: none;
  color: #f00; /* Red color similar to remove button in attachment preview */
  cursor: pointer;
  font-size: 16px; /* Match size of the remove button */
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.cancel-reply i {
  font-size: 18px; /* Size of the icon */
}

.cancel-reply:hover {
  color: #d00;
  text-decoration: none; /* Remove underline since we're using an icon */
}

.sent .replied-message {
  background-color: #e1f5fe; /* Màu nền khác biệt cho tin nhắn gửi */
  border-left: 3px solid #007bff; /* Màu viền xanh cho tin nhắn gửi */
  text-align: right; /* Canh phải cho tin nhắn gửi */
  margin-left: auto; /* Đẩy phần reply về phía bên phải */
  width: 30%;
}

.received .replied-message {
  background-color: #f9f9f9; /* Màu nền khác biệt cho tin nhắn nhận */
  border-left: 3px solid #ddd; /* Màu viền xám cho tin nhắn nhận */
  text-align: left; /* Canh trái cho tin nhắn nhận */
  margin-right: auto; /* Đẩy phần reply về phía bên trái */
  width: 30%;
}

.replied-message-content {
  font-size: 12px;
  color: #555;
}
.message-reactions {
  display: inline-flex;
  align-items: center;
  justify-content: center; /* Căn giữa theo chiều ngang */
  margin-top: 5px;
}

.reaction-group {
  display: flex;
  align-items: center;
  justify-content: center; /* Căn giữa nội dung bên trong cụm */
  background-color: #f1f3f5; /* Màu nền nhạt cho cụm reaction */
  border-radius: 20px; /* Bo góc */
  padding: 5px 10px;
  cursor: pointer;
}

.reaction {
  font-size: 16px; /* Kích thước emoji */
}

.reaction-count {
  font-size: 14px;
  color: #555;
  margin-left: 5px; /* Khoảng cách giữa emoji và số đếm */
  background-color: #e9ecef; /* Màu nền cho số đếm */
  border-radius: 100px;
  padding: 2px 6px; /* Khoảng trống xung quanh số đếm */
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center; /* Căn giữa số đếm trong hình tròn */
}


.reaction-option {
  font-size: 18px; /* Kích thước của emoji */
  margin: 5px; /* Khoảng cách giữa các reactions */
  cursor: pointer; /* Con trỏ thay đổi khi hover */
  transition: transform 0.2s, background-color 0.2s; /* Hiệu ứng chuyển đổi nhẹ nhàng khi hover */
  padding: 8px;
  border-radius: 50%; /* Bo tròn */
  display: inline-block; /* Xếp theo chiều ngang */
}

.reaction-option:hover {
  background-color: #f1f3f5; /* Màu nền khi hover */
  transform: scale(1.2); /* Tăng kích thước nhẹ khi hover */
}
.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7); /* Màu nền tối với độ trong suốt nhẹ hơn */
  color: #fff;
  text-align: center;
  border-radius: 2px; /* Bo góc nhỏ hơn */
  padding: 2px 4px; /* Giảm padding để tooltip nhỏ hơn */
  position: absolute;
  z-index: 1;
  bottom: 140%; /* Hiển thị tooltip ở trên */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  font-size: 10px; /* Kích thước font nhỏ hơn */
  white-space: nowrap;
  pointer-events: none; /* Ngăn tương tác với tooltip */
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.translate-button {
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.message-translated {
  font-style: italic;
  color: gray;
}
.translate-button, .original-button {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.2s ease;
}

.translate-button:hover, .original-button:hover {
  background-color: #e0e0e0;
}

.original-button {
  background-color: #ffe0b2; /* Màu nổi bật hơn cho nút Original */
}

.original-button:hover {
  background-color: #ffcc80;
}

.actions-container {
  display: flex;
  gap: 10px;
}
