<div class="chat-content">
  <!-- Header hiển thị thông tin người nhận -->
  <app-chat-header *ngIf="recipientInfo" [recipientInfo]="recipientInfo"></app-chat-header>

  <div class="chat-window" *ngIf="recipientId; else selectChatMessage">
    <div class="chat-messages">
      <!-- Vòng lặp hiển thị các tin nhắn -->
      <div *ngFor="let message of messages; let i = index"
           class="message-wrapper"
           [ngClass]="{'sent': message.userId === currentUserId, 'received': message.userId !== currentUserId}">
        <!-- Tên người gửi trong nhóm (nếu là tin nhắn nhóm) -->
        <p *ngIf="message.groupId" class="sender-name">{{ message.senderFullName }}</p>

        <!-- Chỉ hiển thị nội dung tin nhắn nếu có -->
        <div *ngIf="message.message" class="message-content">
          {{ message.message }}
        </div>

        <!-- Hiển thị tệp đính kèm nếu có -->
        <div *ngIf="message.attachmentUrl" class="attachment">
          <ng-container [ngSwitch]="getAttachmentType(message.attachmentUrl)">
            <img *ngSwitchCase="'image'" [src]="getAttachmentUrl(message.attachmentUrl)" alt="Image attachment" />
            <video *ngSwitchCase="'video'" controls [src]="getAttachmentUrl(message.attachmentUrl)"></video>
            <a *ngSwitchCase="'pdf'" [href]="getAttachmentUrl(message.attachmentUrl)" target="_blank">{{ message.attachmentOriginalName }}</a>
            <a *ngSwitchDefault [href]="getAttachmentUrl(message.attachmentUrl)" target="_blank">{{ message.attachmentOriginalName }}</a>
          </ng-container>
        </div>

        <!-- Hiển thị "Đã đọc" nếu tin nhắn là cuối cùng đã đọc -->
        <div *ngIf="message.isRead && message.userId === currentUserId && i === messages.length - 1" class="message-status">
          Đã đọc
        </div>
      </div>
    </div>

    <!-- Khu vực nhập tin nhắn -->
    <div class="message-input" *ngIf="recipientId">
      <input
        type="text"
        [(ngModel)]="newMessage"
        placeholder="Type a message..."
        (keydown.enter)="onSendMessage()"
        aria-label="Type a message"
      />

      <!-- File Input Icon -->
      <label for="fileInput" class="icon-button">
        <i class="fas fa-paperclip"></i>
      </label>
      <input type="file" id="fileInput" (change)="onFileSelected($event)" #fileInput style="display: none;" />

      <!-- Send Button Icon -->
      <button
        (click)="onSendMessage()"
        [disabled]="!newMessage.trim() && !attachmentFile"
        class="icon-button">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </div>

  <!-- Template for the select chat message -->
  <ng-template #selectChatMessage>
    <div class="select-chat-message">
      <p>Please select a conversation or user to view the chat messages.</p>
    </div>
  </ng-template>
</div>
