<div class="chat-window">
  <div class="chat-messages">
    <div *ngFor="let message of messages" [ngClass]="{'sent': message.userId === currentUserId, 'received': message.userId !== currentUserId}">
      <p class="message-content">{{ message.senderFullName }}: {{ message.message }}</p>
    </div>
  </div>
  <div class="message-input">
    <input type="text" [(ngModel)]="newMessage" placeholder="Type a message..." (keydown.enter)="onSendMessage(newMessage)" />
    <button (click)="onSendMessage(newMessage)">Send</button>
  </div>
</div>
