<div class="chat-header" *ngIf="recipientInfo"[ngClass]="'theme-' + chatTheme">
  <div class="chat-info">
    <img [src]="getAvatarUrl(recipientInfo.avatar)" alt="Avatar" class="avatar" (click)="openImagePreview()">
    <div class="chat-details">
      <div class="chat-name">
        {{ recipientInfo.nickname || recipientInfo.fullName }}
        <span class="status-indicator"
              [ngClass]="{'online': recipientInfo.status === 'online', 'offline': recipientInfo.status === 'offline'}">
        </span>
      </div>
      <div class="chat-tag">{{ recipientInfo.tagName }}</div>
    </div>
  </div>

  <!-- Kiểm tra nếu type không phải là 'Group' thì hiển thị các nút gọi -->
  <div class="chat-actions" *ngIf="recipientInfo.type !== 'Group'">
    <button mat-icon-button (click)="startVoiceCall()">
      <mat-icon>call</mat-icon> <!-- Cuộc gọi thoại -->
    </button>
    <button mat-icon-button (click)="startVideoCall()">
      <mat-icon>videocam</mat-icon> <!-- Cuộc gọi video -->
    </button>
  </div>
</div>
